@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@400;700&family=Unbounded:wght@200;400;600;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: 
  #12191d;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  background-color: #ff6c22;
}
.sidebar ul{
  list-style: none;
}
.side-list{
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.side-links{
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-links li a img{
  width: 20px;
  border-radius: 50%;
  /* border: 1px solid beige; */
}
.side-links li a{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
}

#below-links{
  height: max-content;
}

a{
  color: white;
  text-decoration: none;
}
.side-profile{
  width: 50px;
  border-radius: 50%;
  transition-duration: 0.3s;
}

#sl-label{
  padding-left: 10px;
  font-size: 1.2rem;
  transition-duration: 0.3s;
  width: 100%;
}
#sl-label:hover{
  padding-left: 40px;
}

#side-title a span{
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: -10px;
}

#side-title a img{
  width: 3.4rem;
}

.sd-arr{
  position: fixed;
  left: 15vw;
  background-color: #fff;
  bottom: 0;
  padding: 8px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-name{
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-name abbr{
  text-decoration: none;
}
#sd-username{
  font-size: 1rem;
  
}

.profile-side-mein{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsed-sidebar{
  height: 100vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  background-color: #ff6c22;
}

.sidebar-expand{
  left: 5vw;
}
.side-profile:hover{
  margin-bottom: 10px;
}

.cogro-title{
  color: black;
  transition-duration: 0.3s;
  font-family: 'Quicksand';
  font-weight: 600;
}

.cogro-title:hover{
  letter-spacing: 5px;
}

#sd-slogan{
  position: fixed;
  top: 50px;
  left: 65px;
  color: #12191d;
}
.side-logo{
  transition-duration: 0.3s;
}
.side-logo:hover{
  transform: rotate(360deg);
  scale: 125%;
}